<!doctype html>
<html lang="pt">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Task | Edit</title>
</head>
<body>
<div class="container">
    <h1 class="text-center">Editar Tarefa</h1>

    <div class="col-sm-12">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    Editar
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>